* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

/* merubah warna background body */
body {
  color: white !important;
  background-color: black !important;
}

/*Loader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* Loader Animation */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: -75px 0 0 -75px;
  border: 5px solid transparent;
  border-top-color: #3498db;
  border-bottom-color: #3498db;
  z-index: 1001;
  animation: spin 1s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-left-color: #e74c3c;
  border-right-color: #e74c3c;
  z-index: 1001;
  animation: spin 0.5s ease-in-out infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #f9c922;
  border-bottom-color: #f9c922;
  z-index: 1001;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }
}

/* Text animation */
h2 {
  display: block;
  position: relative;
  top: 55%;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #2192f3, 0 0 40px #2192f3, 0 0 80px #2192f3;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  transition: 1s;
  z-index: 1001;
  animation: mymove 1.5s ease-in-out infinite alternate;
}

@keyframes mymove {
  0% {
    color: #2192f3;
    text-shadow: 0 0 10px #2192f3, 0 0 40px #2192f3, 0 0 80px #2192f3;
    transition: 1.5s;
    transition-delay: 2s;
  }

  50% {
    color: #00FFDD;
    text-shadow: 0 0 10px #00FFDD, 0 0 40px #00FFDD, 0 0 80px #00FFDD;
    transition: 1.5s;
    transition-delay: 2s;
  }

  100% {
    color: #00FF00;
    text-shadow: 0 0 10px #00FF00, 0 0 40px #00FF00, 0 0 80px #00FF00;
    transition: 1.5s;
    transition-delay: 2s;
  }
}

/* Background Section Animation */
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded h2 {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/* Membuat animasi navbar button */
.nav-link {
  position: relative;
  color: #2197f3;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

/* Merubah warna hover */
.nav-link:focus,
.nav-link:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.nav-link span {
  position: absolute;
  display: block;
}

/* Animasi navbar Button */
.nav-link span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.nav-link:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.nav-link span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.nav-link:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.nav-link span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.nav-link:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.nav-link span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.nav-link:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* merubah warna background dropdown */
.navbar-expand-sm .navbar-nav .dropdown-menu {
  color: #2197f3;
  background-color: white;
}

/* merubah warna hover dropdown */
.dropdown-item:focus,
.dropdown-item:hover {
  position: relative;
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  text-decoration: none;
}

.dropdown-item span {
  position: absolute;
  display: block;
}

/* Membuat Dropdown Terbuka Otomatis */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* menghilangkan tanda panah kebawah (bottom arrow) */
a.menu:after,
.dropdown-toggle:after {
  content: none;
}

.jumbotron-bg {
  background-size: cover;
  background: url("../img/background.png");
  background-size: 100vh;
  background-color: black !important;
  background-position: center;
  background-repeat: no-repeat;
}

.warna-bg {
  background: linear-gradient(to right, rgba(91, 134, 229, .92), rgba(0, 0, 139, .92));
}

/* Membuat animasi card hover */
.card:hover {
  display: block;
  position: relative;
  text-decoration: none;
  top: 5%;
  bottom: 5%;
  transform: translateY(5%);
  overflow: hidden;
  transition: 1s;
  z-index: 1001;
  animation: kartu 1.5s ease-in-out infinite alternate;
}

@keyframes kartu {
  0% {
    border: 1px solid skyblue;
    box-shadow: 0 0 10px skyblue, 0 0 40px skyblue, 0 0 80px skyblue;
    top: 5%;
    bottom: 5%;
    transform: translateY(-5%);
    transition: 1.5s;
    transition-delay: 2s;
  }

  50% {
    border: 1px solid aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
    top: 5%;
    bottom: 5%;
    transform: translateY(5%);
    transition: 1.5s;
    transition-delay: 2s;
  }

  100% {
    border: 1px solid lime;
    box-shadow: 0 0 10px lime, 0 0 40px lime, 0 0 80px lime;
    top: 5%;
    bottom: 5%;
    transform: translateY(-5%);
    transition: 1.5s;
    transition-delay: 2s;
  }
}