* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron-bg {
  background-size: cover;
  background: url("../img/background.png");
  background-size: 300px;
  background-repeat: no-repeat;
}

.warna-bg {
  background: linear-gradient(to right, rgba(91, 134, 229, .92), rgba(0, 0, 139, .92));
}