* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

/* merubah warna background body */
body {
  padding-top: 56px;
  background-color: white !important;
}

.navbar-link {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2197f3;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

/* Merubah warna hover */
.nav-link:focus,
.nav-link:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .92);
}

/* merubah warna background dropdown */
.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: relative;
  background-color: white;
}

/* merubah warna hover dropdown */
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .92);
}

/* Membuat Dropdown Terbuka Otomatis */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* menghilangkan tanda panah kebawah (bottom arrow) */
a.menu:after,
.dropdown-toggle:after {
  content: none;
}

.jumbotron-bg {
  background-size: cover;
  background: url("../img/background.png");
  background-size: 100vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

.warna-bg {
  background: linear-gradient(to right, rgba(91, 134, 229, .92), rgba(0, 0, 139, .92));
}